
* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	/* border: 1px grey solid */
}

body{
	/* background: lightgreen; */
	/* border: 1px grey solid */
}

.container {
	/* position: fixed; */
	width: 100%;
	border: 1px black solid;
	display: inline-block;
	padding: 10px;
	background: lightgray;
	/* background:
		url('https://images.idgesg.net/images/article/2017/09/networking-100735059-large.jpg');
		fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		align-content: center; */

}

.container h1, .container p {
	display: inline-block;
}

.nav-option {
	float: left;
	margin: 5px
}

#logout{
	float: right
}

#app {
	/* border: 1px black solid; */
	text-align: center;
}

.user-auth {
	border: 1px black solid;
	/* padding: 20px; */
	margin: 40px;
	width: 75%;
	display: inline-block;
}

fieldset {
	padding: 10;
  border: 0;
  margin: 0;
}

legend {
	font-size: 24px;
	padding: 10px
}

#register-form, #login-form {
	background: white;
	text-align: center;
	display: inline-block;
	/* padding: 20px; */
	margin-left: auto;
	margin-top: auto;
}

input[type='text'], input[type='password'], input[type='email'] {
  display: block;
  width: 100%;
  height: auto;
  font-size: 12px;
  text-align: left;
  padding: 10px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  background: #fcfcfc;
  /* margin: 10px auto 10px; */
  transition: opacity 0.4s;
}

button[type='submit'], button[type='button'] {
	text-align: center;
	padding: 5px;
	width: auto;
	margin-bottom: 10px;
	-webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
	cursor: pointer;
	font-size: 14px
}

/* #loc-search-button, button[type='button'] {
	text-align: center;
	padding: 5px;
	margin-bottom: 0px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	width: auto;
	cursor: pointer;
} */

button:hover {
	background-color: #298eea;
	color: white
}

#statusFilter, #status {
	cursor: pointer;
	text-align: center;
	height: 30px;
	width: 200px;
	margin-bottom: 0px;
}

#locationSearch {
	text-align: left;
	height: 25px;
	width: auto;
	margin-bottom: 0px;
}


#update-app, #add-app {
	border: 1px black solid;
	display: inline-block;
	text-align: center;
	width: 75%;
	font-size: 12px
}

#notes{
	width: 100%;
}

#app-fieldset, #contact-fieldset {
	float: left;
	display: block;
  width: 100%;
  height: auto;
  font-size: 12px;
  text-align: left;
  padding: 5px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  background: #fcfcfc;
}

.nav-option {
	/* display: inline-flex; */
	padding: 5px;
}

#no-apps {
	border: 1px black solid;
	height: 100px;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	/* display: inline-block; */
}

#add-first {
	float: center;
	margin-left: auto;
	margin-right:auto;
}

.indiv-job{
	text-align: left;
	margin-bottom: 10px;
	padding-left: 20px;
	border: 2px lightgray solid;
	display: inline-block;
	height: auto;
	vertical-align: left;
	border-radius: 7px;
}

p {
	padding-top: 0px
}

.indiv-app{
	margin: 10px;
	display: inline-block;
	width: 30%;
	height: 450px;
	vertical-align: middle;
	font-size: 12px;
	border-radius: 7px;
}

#contact-info {
	border: 1px gray dotted;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
	text-align: left;
	padding-left: 40px;

}

.viewed-app {
	border: 2px yellow solid
}
.applied {
	border: 2px orange solid
}
.interview {
	border: 2px blue solid
}
.follow-up {
	border: 2px purple solid
}
.rejected {
	border: 2px red solid
}
.offer {
	border: 2px green solid
}
.declined-offer {
	border: 2px red solid
}

.col-6 {
	width: 50%
}

.col-12 {
	width: 100%
}

.swal-title {
	font-size: 18px
}


@media screen and (max-width: 940px) {
  .col-4 {
		width: 45%
	}
}

@media screen and (max-width: 600px) {
  .col-4 {
		width: 95%
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px)
and (max-device-width : 768px) {
/* Styles */

.col-4, .col-6, .col-12 {
	width: 100%;
	height: auto
}

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

.col-4 {
	width: 33%;
}
.col-6 {
	width: 50%
}

}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

.col-4, .col-6, .col-12 {
	width: 100%;
	height: auto

}

}
