
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.nav-bar{
	/* position: fixed; */
	width: 100%;
	border: 1px black solid;
	display: inline-block;
	padding: 10px;
}

#logout{
	float: right
}

.nav-option {
	/* display: inline-flex; */
}

.indiv-app{
	margin: 10px;
	padding: 10px;
	border: 1px gray solid;
	display: inline-block;
	width: 30%;
	height: 300px;
	vertical-align: middle
}


.viewed-app {
	border: 2px yellow solid
}
.applied {
	border: 2px orange solid
}
.interview {
	border: 2px blue solid
}
.follow-up {
	border: 2px purple solid
}
.rejected {
	border: 2px red solid
}
.offer {
	border: 2px green solid
}
.declined-offer {
	border: 2px red solid
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px)
and (max-device-width : 768px) {
/* Styles */

.col-4, .col-12 {
	width: 100%;
	height: auto
}

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

.col-4 {
	width: 33%;
}

}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

.col-4 {
	width: 100%;
	height: auto

}

}
