
* {
	box-sizing: border-box;
}

.nav-option {
	display: inline-block;
}

.indiv-app{
	margin: 10px;
	padding: 10px;
	border: 1px gray solid;
	display: inline-block;
	width: 30%;
}


.viewed-app {
	border: 2px yellow solid
}
.applied {
	border: 2px orange solid
}
.interview {
	border: 2px blue solid
}
.follow-up {
	border: 2px purple solid
}
.rejected {
	border: 2px red solid
}
.offer {
	border: 2px green solid
}
.declined-offer {
	border: 2px red solid
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px)
and (max-device-width : 768px) {
/* Styles */

.col-4, .col-12 {
	width: 100%;
}

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

.col-4 {
	width: 33%;
}

}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

.col-4 {
	width:; 100%
}

}
